{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Habilita que la página sea responsive -->
    <title>{% block title %}ChatUSM{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="{% static 'javascript/script.js' %}"></script>
</head>
<body>
    <header>
        <nav> 
            <a class="link_header" href="{% url 'index' %}">Inicio</a>

            <div style="flex-grow: 1;"></div>

            <a class="link_header" href="{% url 'about' %}">Acerca de</a>

            {% if user.is_superuser %}
                <a class="link_header link_header_r" href="{% url 'admin_panel' %}">Panel de Administración</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p class="texto_centro"><a class="tema" href="{% url 'about' %}">Proyecto IWG101 2024, Grupo 2</a></p>
    </footer> 
</body>
</html>
