{% extends 'base_perfil.html' %}
{% load static %}

{% block title %}Perfil | ChatUSM{% endblock %}

{% block content %}
    <h1>Perfil de usuario</h1>
    <div class="info_perfil display_info_perfil">
        <p><img src="{% static 'imagenes/usuario.png' %}" alt="Foto de {{ user.email}}" style="width: 100px; height: auto;"></p>
        <div class="box_info">
            <p><b>{{ user.nombre }} {{ user.apellido }}</b> {{ user.email }}</p>
            <p>{{ user.tipo }}
            {% if user.tipo.nombre == "Profesor" %}
                | {{ user.categoria }}
            {% elif user.tipo.nombre == "Estudiante" %}
                | {{ user.carrera }}
            {% endif %}
            | {{ user.sede }}</p>
        </div>
    </div>
    <p class="separador"><a class="boton" href="{% url 'logout' %}">Cerrar sesión</a></p>

    <p class="display_info_perfil">
    <a class="link_header" href="{% url 'perfil' %}">Tus Conversaciones</a> |
    <a class="link_header" href="{% url 'perfil_votos_si' %}"> <b class="link">Tus votos positivos</b></a> | 
    <a class="link_header" href="{% url 'perfil_votos_no' %}">Tus votos negativos</a></p>

    <div class="display_perfil">
        <div class="centrar_foro_b">
            <h2>Temas que te gustaron ({{ cant_temas_si }})</h2>
            {% if temas_votados_si %}
                <ul>
                    {% for tema in temas_votados_si %}
                        <li class="comentario_box">
                            <a class="tema" href="{% url 'tema_solicitud' tema.id %}"><b>{{ tema.titulo }}</b>
                            <i class="detalles">{{ tema.fecha_creacion|date:"d.m.Y - H:i" }}</i>
                            <br><br>{{ tema.contenido|truncatechars:150 }}...
                            <br><br>
                            {% if tema.si == 1 %}
                                <b class="detalles">{{ tema.si }} voto positivo</b>
                            {% else %}
                                <b class="detalles">{{ tema.si }} votos positivos</b>
                            {% endif %}</a>
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No has votado Positivamente en ningún Tema.</p>
            {% endif %}
        </div>
            
        <div class="centrar_foro_b box_info">
            <h2>Comentarios que te gustaron ({{ cant_comentarios_si }})</h2>
            {% if comentarios_votados_si %}
                <ul>
                    {% for comentario in comentarios_votados_si %}
                        <li class="comentario_box">
                            <p>
                                <a class="tema" href="{% url 'tema_solicitud' comentario.tema.id %}">
                                    <b>{{ comentario.tema.titulo }}</b><i class="detalles"> {{ comentario.tema.autor }}</i> 
                                    <br><br><b>Te gustó el comentario de {{ comentario.autor }}:</b>
                                    <br>{{ comentario.contenido|truncatechars:150 }}... <i class="detalles">{{ comentario.fecha_creacion|date:"d.m.Y - H:i" }}</i>
                                    <br><br>
                                    {% if comentario.si == 1 %}
                                        <b class="detalles">{{ comentario.si }} voto positivo</b>
                                    {% else %}
                                        <b class="detalles">{{ comentario.si }} votos positivos</b>
                                    {% endif %}
                                </a>
                            </p>
                        </li>
                        <hr>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No has votado Positivamente en ningún Comentario.</p>
            {% endif %}
        </div>
    </div>

    <br>
{% endblock %}