{% extends 'base_perfil.html' %}
{% load static %}

{% block title %}Perfil | ChatUSM{% endblock %}

{% block content %}
    <h1>Editar Información de Usuario</h1>
    <div class="info_perfil display_info_perfil">
        <p><img src="{% static 'imagenes/usuario.png' %}" alt="Foto de {{ user.email}}" style="width: 100px; height: auto;"></p>
        <div class="box_info">
            <b>{{ user.nombre }} {{ user.apellido }}</b> 
            <p>{{ user.email }}</p>
            <p>{{ user.tipo }}</p>
            <form method="post">
                {% csrf_token %}
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="contraseña" value="{{ usuario.password }}" required>
                <br><br>
            
                <label for="sede">Sede:</label>
                <select id="sede" name="sede" required>
                    {% for sede in sedes %}
                        <option value="{{ sede.id }}" {% if sede.id == usuario.sede.id %}selected{% endif %}>{{ sede.nombre }}</option>
                    {% endfor %}
                </select>
                <br><br>
            
                <label for="carrera">Carrera:</label>
                <select id="carrera" name="carrera" required>
                    {% for carrera in carreras %}
                        <option value="{{ carrera.id }}" {% if carrera.id == usuario.carrera.id %}selected{% endif %}>{{ carrera.nombre }}</option>
                    {% endfor %}
                </select>
                <br><br>
                
                <button class="boton" type="submit">Guardar cambios</button>
            </form>
            <br><a class="boton" href="{% url 'perfil' %}">Cancelar</a>
        </div>
    </div>
    <br>
{% endblock %}