{% extends 'foro/base.html' %}

{% block title %}Acerca de | ChatUSM{% endblock %}

{% block content %}

    <h2 class="centrar_foro">¿Qué es el ChatUSM?</h2>
    <div class="centrar_foro centrar_foro_b">
        <b>ChatUSM</b> es un foro creado por estudiantes para estudiantes. Un espacio virtual en el que tanto profesores como estudiantes
        de la <a class="link" href="https://usm.cl" target="_blank">Universidad Técnica Federico Santa María </a> pueden iniciar 
        <i>Temas de Conversación</i> y discutir las materias de diversas carreras.
    </div>

    <h2 class="centrar_foro">Creadores</h2>
    <div class="centrar_foro centrar_foro_b">
        <p><b>Proyecto de Introducción a la Ingeniería (IWG101), 2024</b></p>

        <p><b>María de Los Ángeles Oyarzun Orobio</b></p>  

        <p><b>Gabriel Castillo Amaya</b></p>  

        <p><b>Natalia Olguin Aranda</b></p>  

        <p><b>Ignacio Santana Hernández</b></p>  

        <p><b>Camila Cabrera Gonzales</b></p>  

        <p><b>Francisco Valencia Toro</b></p>  
    </div>

    <h2 class="centrar_foro">Reglas de Comportamiento</h2>
    <div class="centrar_foro centrar_foro_b">
    </div>

    <h2 class="centrar_foro">Condiciones de Uso</h2>
    <div class="centrar_foro centrar_foro_b">
    </div>

    <p class="separador"></p>
{% endblock %}