{% extends 'foro/base_sin_buscador.html' %}

{% block title %}ADMIN | ChatUSM{% endblock %}

{% block content %}
    <p class="separador"></p>
    <a class="separador link" href="{% url 'admin_panel' %}">Volver al Panel</a>
    <p class="separador"></p>

    <div class="admin_usuario display_box_admin_usuarios">
        <div class="white_box">
            <!-- Agregar formulario de creación de usuario -->
            <h2>Crear Nuevo Usuario</h2>
            <form method="post">
                {% csrf_token %}
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
                <br><br>
                
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required>
                <br><br>
                
                <label for="email">Correo electrónico (user):</label>
                <input type="email" id="email" name="correo" required>
                <br><br>
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="contraseña" required>
                <br><br>
                
                <label for="tipo">Tipo:</label>
                <select id="tipo" name="tipo" required>
                    {% for tipo in tipos %}
                        <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <label for="sede">Sede:</label>
                <select id="sede" name="sede" required>
                    {% for sede in sedes %}
                        <option value="{{ sede.id }}">{{ sede.nombre }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <label for="carrera">Carrera:</label>
                <select id="carrera" name="carrera" required>
                    {% for carrera in carreras %}
                        <option value="{{ carrera.id }}">{{ carrera.nombre }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <label for="categoria">Clase:</label>
                <select id="categoria" name="categoria" required>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
                <br><br>
                
                <button class="button" type="submit">Crear Usuario</button>
            </form>
            <p></p>
        </div>
        <div class="box_admin_usuarios white_box">
            <h2>Lista de Usuarios</h2>
            
            <form method="get">
                <input class="buscador" type="text" name="q" value="{{ q }}" placeholder="Buscar usuarios">
                <button class="boton_buscar" type="submit">Buscar</button>
            </form>

            <!-- Agregar botones para mostrar usuarios de acuerdo a tipo, sede, carrera o clase -->

            <h3>Usuarios</h3>
            <ul>
                {% for tipo, count in cant_tipo.items %}
                    <li>{{ tipo }}: {{ count }}</li>
                {% endfor %}
            </ul>

            {% if usuarios %}
                <ul>
                    {% for usuario in usuarios %}
                        <li>
                            <a class="user_link" href="{% url 'editar_usuario' usuario.id %}">
                                <h3>{{ usuario.nombre }} {{ usuario.apellido }}</h3>
                                {% if usuario.is_superuser %}
                                    ADMIN
                                {% endif %}
                                <p>{{ usuario.id }} | {{ usuario.email }} | {{ usuario.tipo }} | {{ usuario.sede }}
                                    {% if usuario.tipo.nombre == "Profesor" %}
                                        | {{ usuario.categoria }}
                                    {% elif usuario.tipo.nombre == "Estudiante" %}
                                        | {{ usuario.carrera }}
                                    {% endif %}
                                    | {{ usuario.date_joined }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No se encontraron usuarios</p>
            {% endif %}
        </div>
    </div>

    <p class="separador"></p>
{% endblock %}