{% extends 'foro/base_sin_buscador.html' %}

{% block title %}ADMIN | ChatUSM{% endblock %}

{% block content %}
    <h2>Solicitudes de Eliminación de Temas</h2>
    <a class="link" href="{% url 'admin_panel' %}">Volver al Panel</a>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    {% for solicitud in solicitudes %}
        <div class="white_box separador">
            <a class="link" href="{% url 'tema_solicitud' solicitud.tema.id %}">{{ solicitud.tema.titulo }}</a>
                <i class="detalles">{{ solicitud.usuario.username }}</i>
                <p><b>Razón:</b> {{ solicitud.motivo }}</p>
                    <p>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="solicitud_id" value="{{ solicitud.id }}">
                            <button type="submit" name="accion" value="aceptar">Aceptar</button>
                            <button type="submit" name="accion" value="rechazar">Rechazar</button>
                            <input type="text" name="justificacion" placeholder="Respuesta (rechazo)">
                            <div class="separador"><input type="password" name="password" placeholder="Contraseña" required></div>
                        </form>
                    </p>
        </div>
    {% endfor %}

    <p class="separador"></p>
    <!-- Agregar lista de solicitudes -->
{% endblock %}