{% extends 'foro/base.html' %}

{% block title %}Agregar Tema{% endblock %}

{% block content %}
    <div class="centrar_foro">
        <h2>Inicia una nueva Conversación</h2>
        <a class="boton" class="link" href="{% url 'categorias_por_tipo' tipo=categoria_tipo %}">Volver</a>
        <form class="centrar_foro_b comentario_box" method="post" action="{% url 'crear_tema' categoria_tipo=categoria_tipo %}">
            {% csrf_token %}
            <label for="titulo">Tema de conversación:</label>
            <input class="buscador" type="text" id="titulo" name="titulo" placeholder="Resume el Tema de Conversación con un título...">
            <br></br>

            <label class="centrar" for="contenido">Contenido:</label>
            <textarea class="buscador centrar" id="contenido" name="contenido" placeholder="Expresa tus ideas..."></textarea>
            <br></br>

            <label for="anonimo">
                <input type="checkbox" id="anonimo" name="anonimo" value="true"> Ocultar Nombre
            </label>
            <p class="detalle">(Al ocultar tu nombre publicarás el Tema de manera anónima. Los Administradores son los únicos que pueden ver tu nombre.)</p>

            <input class="boton" type="submit" value="Publicar">
        </form>
    </div>
{% endblock %}