{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Habilita que la página sea responsive -->
    <title>{% block title %}ChatUSM{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=2">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="{% static 'javascript/script.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <a class="link_header" href="{% url 'index' %}">Inicio</a>

            <form id="formulario_buscador" action="{% url 'buscar' %}" method="get">
                <input class="buscador" type="text" name="q" value="{{ q }}">
                <button class="boton_buscar" type="submit">Buscar</button>
            </form>

            <a class="link_header" href="{% url 'about' %}">Acerca de</a>

            {% if user.is_superuser %}
                <a class="link_header" href="{% url 'admin_panel' %}">Panel de Administración</a>
            {% endif %}
            
            {% if user.is_authenticated %}
                <a class="link_header" href="{% url 'perfil' %}">Perfil</a>
            {% else %}
                <a class="link_header" href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Contenido específico de cada página -->
        {% endblock %}
    </main>
    <footer>
        <p class="texto_centro"><a class="tema" href="{% url 'about' %}">Proyecto IWG101 2024, Grupo 2</a></p>
    </footer> 
</body>
</html>
