{% extends 'foro/base.html' %}

{% block title %}Búsqueda | ChatUSM{% endblock %}

{% block content %}
    <h2 class="centrar_foro">Resultados de búsqueda</h2>
    <ul class="centrar_foro_b">
        <h2>Categorías</h2>
        {% for categoria in categorias %}
            <li><b><a class="tema" href="{% url 'categorias_por_tipo' categoria.tipo %}">{{ categoria.nombre }}</a></b></li>
        {% endfor %}
    </ul>
    <p class="separador"><p>
    <ul class="centrar_foro_b">
        <h2>Temas de Conversación</h2>
        {% for tema in temas %}
            <li><br>
                <a class="tema" href="{% url 'tema_detalle' tema.id %}">
                <b>{{ tema.titulo }}</b> <i class="detalles">{{ tema.autor }}, {{ tema.fecha_creacion|date:"d.m.Y - H:i" }}</i>
                <p>{{ tema.contenido|truncatechars:100 }}... 
                    {% if tema.si == 1 %}
                        <b class="detalles">{{ tema.si }} voto positivo</b>
                    {% else %}
                        <b class="detalles">{{ tema.si }} votos positivos</b>
                    {% endif %}
                </p>
                </a>
            </li>
            <br><hr>
        {% endfor %}
    </ul>
    <br>
{% endblock %}