{% extends 'foro/base.html' %}

{% block title %}Eliminar Conversación | ChatUSM{% endblock %}

{% block content %}
    <h2 class="centrar_foro">Eliminar Tema de Conversación</h2>
    <div class="centrar_foro_b">
        <a class="link" href="{% url 'detalle_tema' tipo=tema.categoria.tipo tema_id=tema.id %}">Volver al tema</a>
        <p><b>Explica las razones por las que deseas eliminar el Tema de Conversación.</b></p>
        <p class="detalles">ChatUSM tiene como principal objetivo garantizar la conservación de la información. 
            No se autorizará la eliminación de Temas que contengan Comentarios y/o Conversaciones que puedan proporcionar
            información relevante para otros estudiantes. La autorización de la solicitud queda a criterio de los Administradores.</p>
        <form method="POST" action="{% url 'enviar_solicitud_eliminar_tema' tema_id=tema.id %}">
            {% csrf_token %}
            <label for="motivo">Motivo de eliminación:</label>
            <br><br>
            <textarea class="buscador" name="motivo" rows="4" placeholder="Escribe el motivo de eliminación de esta conversación..."></textarea>
            <button class="boton" type="submit">Enviar Solicitud</button>
        </form>
    </div>
    <br>
{% endblock %}