{% extends 'foro/base_sin_buscador.html' %}

{% block title %}Inicio | ChatUSM{% endblock %}

{% block content %}
    <div class="index_fondo">
        <h1 class="buscar_index_bloque">Bienvenido al ChatUSM!</h1>
        <form id="formulario_buscador" action="{% url 'buscar' %}" method="get">
            <input class="buscador_index" type="search" name="q" placeholder="Buscar...">
            <button class="boton_buscar_index" type="submit">Buscar</button>
        </form>
    </div>
    <h2 class="centrar_foro">Categorías</h2>
    <div class="categoria_bloque">
        {% for categoria in categorias %}
            {% if categoria.nombre != "Null" %}
                <div class="categoria">
                    <b><a class="boton categoria_separacion" href="{% url 'categorias_por_tipo' categoria.tipo %}">{{ categoria.nombre }}</a></b>
                </div>
            {% endif%}
        {% endfor %}
    </div>
    <br>
{% endblock %}